html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#display-container {
    display: flex;
    flex: 1;
    background-color: #4646bd;
    width: 300px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-top: solid 2px navy;
    border-left: solid 2px navy;
    border-right: solid 2px navy;
    border-radius: 5px;
}

#display {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    margin: 40px;
    padding: 10px;
    border: solid 2px navy;
    border-radius: 5px;
}

#calcbuttons-container {
    display: grid;
    background-color: #4646bd;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-bottom: solid 2px navy;
    border-left: solid 2px navy;
    border-right: solid 2px navy;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

